## roles/base/tasks/main.yml

- name: Cargar variables según sistema operativo
  include_vars: main.yml

- name: Incluir tareas para sistemas Debian/Ubuntu
  include_tasks: ubuntu.yml
  when: ansible_facts['os_family'] == "Debian"

- name: Incluir tareas para sistemas RedHat/Rocky
  include_tasks: redhat.yml
  when: ansible_facts['os_family'] == "RedHat"

- name: Configurar MOTD personalizado
  template:
    src: motd.j2
    dest: /etc/motd
    owner: root
    group: root
    mode: "0644"
  when: enable_motd | default(true)
  notify: Reiniciar SSH si cambió MOTD
