# roles/base/tasks/main.yml
- name: Actualizar repositorios en sistemas Debian/Ubuntu
  apt:
    update_cache: yes
  when: ansible_os_family == "Debian"

- name: Actualizar repositorios en sistemas RedHat/Rocky
  dnf:
    name: "*"
    state: latest
  when: ansible_os_family == "RedHat"

- name: Instalar utilidades básicas (Debian/Ubuntu)
  apt:
    name:
      - htop
      - curl
      - vim
    state: present
  when: ansible_os_family == "Debian"
  notify: Reiniciar servicio SSH

- name: Instalar utilidades básicas (RedHat/Rocky)
  dnf:
    name:
      - htop
      - curl
      - vim-enhanced
    state: present
  when: ansible_os_family == "RedHat"
  notify: Reiniciar servicio SSH

- name: Personalizar mensaje de login
  template:
    src: motd.j2
    dest: /etc/motd
