**********************************************
 Bienvenido a {{ ansible_facts['distribution'] }} {{ ansible_facts['distribution_version'] }}
**********************************************

Fecha actual: {{ ansible_date_time.date }}
Host: {{ inventory_hostname }}
Usuario: {{ ansible_user }}
